/*header 头部*/
.header_layout {
  float: left
}

.header_layout_left {
  width: 20%;
  line-height: 60px;
}

.header_layout_center {
  width: 60%;
  line-height: 60px;
}

.header_layout_right {
  width: 20%;
  line-height: 60px;
  text-align: left;
}

.header {
  flex: 0;
}

/*主体*/
.commonMain {
  width: 85%
}
.clear {
  clear: both;
}

.commonMain .el-col {
  /*margin-bottom: 10px;*/
}

.main {
  flex: 1;
}

/*aside侧边栏*/
.navList {
  list-style: none;
}

/*尾部*/
.footer_alone {
  text-align: left;
}

/*circle部分css样式*/

.commonMain .circle_header {
  height: 80px;
  line-height: 80px;
  background-color: darkolivegreen;
}
.circle_first_left {
  height:200px;
  background-color: #678666;
}
.circle_first_right {
  height:200px;
  background-color: gray;
}
.circle_second {
  height:30px;
  background-color: antiquewhite;
}
.circle_third {
  height:120px;
  background-color: aliceblue;
  margin-right: 15px;
}
.alone {
  margin-right: 0px;
}
.circle_fourth {
  height:120px;
  background-color: aliceblue;
}
/*partner部分*/
.partner_content {
  height:700px;
}
.partner_first {
  height:200px;
}
.partner_second {
  height:500px;
}

/*download模块*/
.downloadNav {
  text-align: left;
}
.downloadList{
  padding: 0px !important;
  text-align: left;
}
