/*header 头部*/
.header_layout {
  float: left
}

.header_layout_left {
  width: 20%;
  line-height: 60px;
}

.header_layout_center {
  width: 60%;
  line-height: 60px;
}

.header_layout_right {
  width: 20%;
  line-height: 60px;
  text-align: left;
}

.header {
  flex: 0;
}

/*主体*/
.commonMain {
  width: 85%
}

.commonMain .el-col {
  margin-bottom: 10px;
}

.main {
  flex: 1;
}

/*content部分*/
.content_header {
  height: 35px;
  line-height: 35px;
  background-color: #6666;
}

.content_top {
  height: 200px;
}

.content_top_left {
  width: 30%;
  height: 200px;
  float: left;
  background-color: aliceblue;
}

.content_top_right {
  width: 70%;
  height: 200px;
  float: left;
}

.content_top_right_top {
  width: 100%;
  height: 80px;
  background: #888888;
}

.content_top_right_bottom {
  width: 100%;
  height: 120px;
}

.content_top_right_bottom .left {
  width: 49.5%;
  height: 120px;
  float: left;
  background: #777777;
}

.content_top_right_bottom .right {
  width: 49.5%;
  height: 120px;
  float: right;
  background: #666666;
}

.content_first {
  height: 250px;
  background: gray;
}

.content_first .topNav {
  width: 100%;
}

.content_first .topNav .left {
  width: 70%;
  height: 40px;
  float: left;
  background-color: #2222;
}

.content_first .topNav .right {
  width: 30%;
  height: 40px;
  float: left;
  background-color: #9999;
}

.content_first .first_body {
  width: 100%;
}

.content_first .first_body .left {
  width: 70%;
  height: 210px;
  float: left;
}

.content_first .first_body .left .top {
  width: 100%;
  height: 105px;
}

.content_first .first_body .left .images {
  width: 30%;
  height: 105px;
  float: left;
  background-color: #555555;
}

.content_first .first_body .left .images_explain {
  width: 70%;
  height: 105px;
  float: left;
  background-color: #678666;
}

.images_explain span {
  word-break: break-all;
}

.content_first .first_body .left .bottom {
  width: 100%;
  height: 105px;
  background-color: #333233;
}

.content_first .first_body .right {
  width: 30%;
  height: 210px;
  float: right;
  background-color: azure;
}

.content_first .second_body {
  width: 100%;
}

.content_first .second_body .left {
  width: 70%;
  height: 210px;
  float: left;
}

.content_first .second_body .right {
  width: 30%;
  height: 210px;
  float: right;
  background-color: azure;
}

.content_first .second_body .left .common {
  width: 32%;
  height: 105px;
  float: left;
  margin-right: 10px;
  background-color: greenyellow;
}

.content_first .second_body .left .images {
  width: 100%;
  height: 105px;
  background-color: #555555;
}

.content_first .second_body .left .images_explain {
  width: 100%;
  height: 105px;
  background-color: #678666;
}
.content_first .third_body {
  width: 100%;
}
.content_first .third_body .left {
  width: 70%;
  height: 210px;
  float: left;
}
.content_first .third_body .commonleft {
  width: 50%;
  float: left;
}
.content_first .third_body .imgtopright {
  width: 50%;
  float: right;
}
.content_first .third_body .left  .imgtopleft {
  width: 100%;
  height: 140px;
  background-color: greenyellow;
  margin-bottom: 10px;
}
.content_first .third_body .left  .imgbottomleft {
  width: 100%;
  height: 70px;
  background-color: aquamarine;
}

.content_first .third_body .right {
  width: 30%;
  height: 210px;
  float: right;
  background-color: azure;
}
/*aside侧边栏*/
.navList {
  list-style: none;
}

/*尾部*/
.footer {
  flex: 0;
}
